.align-left  {
  float: left;
}

.align-right {
	float: right;
}

.top {
	position: absolute;
	top: 1em;
}

.right {
	position: absolute;
	right: 0.5em;
}

.inline, ul.inline > li {
	display: inline;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	width: intrinsic;			/* Safari/WebKit uses a non-standard name */
	width: -moz-max-content;	/* Firefox/Gecko */
}

.white, a.white:visited {
	color: #FFF;
	border-color: #FFF;
}

.medium {
	font-size: 20px;
}

.large {
	font-size: 30px;
}

ul.menu > li {
	margin-right: 2.5em;
}

a.plain, a.plain:visited {
	text-decoration: none;
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: 0.01em;
	font-weight: 500;
	font-style: normal;
	line-height: 1.1;
}

a.plain:hover {
	border-bottom: 1px solid;
}

div.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	margin-bottom: 5em;
	z-index: 10;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}

div.backcontainer {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 10px;
	margin-left: 10px;
	line-height: 33px;
	z-index: 11;
}

div.blog-navigation {
	padding: 0.5em;
}

a.nav-arrow {
	text-decoration: none;
}

a.nav-arrow > i {
	vertical-align: middle;
}

a.nav-arrow:visited,
div.backcontainer a:visited {
	color: #000;
}

.blogpost {
	max-width: 700px;
	color: rgb(51, 51, 50);
	font-size: 22px;
	line-height: 33px;
	margin: 0 auto;

	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	line-height: 1.5;
}

.blogpost h1 {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	letter-spacing: -0.04em;
	font-size: 50px;
	line-height: 1.1;
	margin-bottom: 8px;
	text-align: center;
}

.blogpost h2.subtitle {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 300;
	font-style: normal;
	font-size: 30px;
	line-height: 1.1;
	color: #666665;
	margin: 0;
	text-align: center;
}

.blogpost h3 {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 2px;
}

.blogpost p {
	width: 100%;
	margin-bottom: 30px;
}

.blogpost pre {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 20px;
	border-radius: 3px;
	margin: 5px 25px;
}

.blogpost *:not(pre) > code {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

.blogpost img {
	max-height: 300px;
	margin: 5px auto;
}

.blogpost figure {
	text-align: center;
}

.blogpost figcaption {
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: italic;
	font-size: 14px;
	line-height: 1.4;
	color: #666665;
	outline: 0;
	z-index: 300;
}

.blogpost a.backlink {
	font-size: 10px;
	vertical-align: center;
}

div.top-content {
	position: absolute;
	left: 0;
	right: 0;
	background-color: #FFF;
	z-index: 10;
	margin-bottom: 5em;
}

div.top-content.header-spaced {
	top: 260px;
}

div.postlist-container {
	max-width: 700px;
	color: rgb(51, 51, 50);
	font-size: 22px;
	line-height: 33px;
	margin-left: auto;
	margin-right: auto;
}

ul.postlist a, ul.postlist a:visited {
	text-decoration: none;
	color: #000;
}

ul.postlist h3 {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	display: block;
	font-size: 28px;
	line-height: 1.1;
	color: #333332;
	margin-bottom: 4px;
}

ul.postlist p.subtitle {
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	line-height: 1.2;
	color: #666665;
	margin-bottom: 4px;
	margin-top: 0;
}

ul.tags > li {
	display: inline;
	background-color: rgb(149, 165, 166);
	box-sizing: border-box;
	margin-left: 4px;
	padding: 3px 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

ul.tags > li > a:visited,
ul.tags > li > a {
	color: #FFF;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 200;
	text-decoration: none;
}


div.page-header {
	position: absolute;
	width: 100%;
	height: 250px;
	pointer-events: none;
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
}

div.page-header.short {
	height: 125px;
}

div.page-header h1.title-text {
	vertical-align: middle;
	color: #FFF;
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	font-size: 50px;
	line-height: 1;
	margin-bottom: 8px;
	outline: 0;
	word-break: break-word;
}

div.footer-container {
	bottom: 0px;
	left: 0px;
	padding: 10px 0px;
	position: fixed;
	width: 100%;
	font-size: 14px;
	z-index: 9;
	background-color: #000;
	text-align: center;
	color: #FFF;
}

div.footer-container div.copyright {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ddd;
}

div.footer-container div.link-row a,
div.footer-container div.link-row a:visited {
	color: #FFF;
	text-decoration: none;
	margin: 0 5em;
}
