<html>
<head><title>JosiahGaskin.com</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
<style>
 body {
   background-color: #000;
 }
</style>
</head>
<body>
<div class="fullscreen"  style='background: url(/static/img/backgrounds/09.png) no-repeat center top;'>

<div class="top right">
  <ul class="white inline menu">
    <li><a class="medium plain white" href="/blogpost/">Blog</a></li>
    <li><a class="medium plain white" href="/project/">Projects</a></li>
    <li><a class="medium plain white" href="/static/files/Resume.pdf">Resume</a></li>
  </ul>
</div>

</div>
{{ template "chrome/footer.html" . }}
</body>
</html>
